@charset "UTF-8";

* {
  font-size: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.9rem;
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.wrap {
  overflow: hidden;
}

.sec-title {
  text-align: center;
  font-size: 2rem;
  line-height: 3;
  color: #fff;
  background-color: #000099;
  margin-bottom: 10px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4%;
  text-align: center;
}



#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 60px;
  z-index: 100000;
}

#header.sticky {
  padding: 5px 100px;
  background: #fff;
}

#header .pc-site-title {
  position: relative;
  font-weight: 700px;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

#header .pc-nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .pc-nav ul li {
  position: relative;
}

#header .pc-nav ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

#header.sticky .pc-site-title,
#header.sticky .pc-nav ul li a {
  color: #000;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/mainvisual.jpg);
  background-size: cover;
}

.banner h1 {
  position: relative;
  top: 70%;
  left: 15%;
  font-size: 2rem;
  color: #fff;
}

/* works */
#works .works-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#works .works-item {
  margin: 10px;
}

/* skills */
#skills .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#skills .item dt {
  width: 20%;
  padding: 5px;
}

#skills .item dd:nth-of-type(1) {
  width: 60%;
  padding: 5px;
}

#skills .item dd:nth-of-type(2) {
  width: 20%;
  padding: 5px;
}

.star5-rating {
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #ccc;
}

.star5-rating:before,
.star5-rating:after {
  content: "★★★★★";
}

.star5-rating:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcf32;
}

.star5-rating[data-rate="5"]:after { width: 100%; }
.star5-rating[data-rate="4.5"]:after { width: 90%; }
.star5-rating[data-rate="4"]:after { width: 80%; }
.star5-rating[data-rate="3.5"]:after { width: 70%; }
.star5-rating[data-rate="3"]:after { width: 60%; }
.star5-rating[data-rate="2.5"]:after { width: 50%; }
.star5-rating[data-rate="2"]:after { width: 40%; }
.star5-rating[data-rate="1.5"]:after { width: 30%; }
.star5-rating[data-rate="1"]:after { width: 20%; }
.star5-rating[data-rate="0.5"]:after { width: 10%; }
.star5-rating[data-rate="0"]:after { width: 0%; }

/* contact */
#contact dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#contact dt {
  width: 15%;
}

#contact dd {
  width: 85%;
  margin-bottom: 10px;
}

#contact dd input,
#contact dd textarea {
  width: 100%;
  border: solid 1px #c8c8c8;
  padding: 10px;
}

#contact dd textarea {
  height: 10rem;
}

#contact .button {
  text-align: center;
}

#contact .button input {
  width: 200px;
  background-color: #24292e;
  color: #fff;
  padding: 15px 0;
  border: solid 1px #24292e;
}

#contact .button input:hover {
  background: #fff;
  color: #24292e;
}

.sp-nav {
  display: none;
}

.sp-site-title {
  display: none;
}

#footer {
  text-align: center;
}

/* sp */
@media screen and (max-width: 640px) {
  #header.sticky {
    display: none;
  }
  #header .pc-site-title {
    display: none;
  }
  #header .pc-nav {
    display: none;
  }

  .sp-site-title {
    display: inline-block;
  }

  #hamburger {
    position: relative;
    display: block;
    width: 30px;
    height: 25px;
    margin: 0 0 0 auto;
  }

  #hamburger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: translateY(-50%);
  }

  #hamburger:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  #hamburger:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 2px;
    background-color: #fff;
  }

  .sp-nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease-in-out;
    opacity: 0;
    transform: translateY(-100%);
  }

  .sp-nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .sp-nav li {
    margin: 0;
    padding: 0;
  }

  .sp-nav li span {
    font-size: 0.8rem;
    color: #fff;
  }

  .sp-nav li span, .sp-nav li a {
    display: block;
    padding: 20px 0;
  }

  .sp-nav .close {
    position: relative;
    padding: 20px;
  }

  .sp-nav .close:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate(45deg);
  }

  .sp-nav .close:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate(-45deg);
  }

  .toggle {
    transform: translateY(0);
    opacity: 1;
  }

  .banner h1 {
    font-size: 1.2rem;
  }

  label {
    font-size: 0.5rem
  }
}
